.card {
    border-radius: .75rem;
    background-color: #eff1f2;
}

.card-header {
    background-color: #eff1f2;
    border-bottom: 1px solid #d9d9d9;
}

.card-body {
    background-color: #eff1f2;
}

#list1 .form-control {
    border-color: transparent;
}

#list1 .form-control:focus {
    border-color: transparent;
    box-shadow: none;
}

#list1 .select-input.form-control[readonly]:not([disabled]) {
    background-color: #fbfbfb;
}

.todo-completed {
    opacity: .7;
    text-decoration: line-through;
}

